<div class="container">
<div style="width:50%">
<form action="/user/update/<%= user.id %>" method="POST">
	<h2>Edit your profile</h2>
	<label>Username</label>
	<input value="<%= user.username %>" type="text" class="form-control" name="username">
	<label>Email</label>
	<input value="<%= user.email %>" type="email" class="form-control" name="email">
	<label>Password</label>
	<input value="<%= user.password %>" type="password" class="form-control" name="password">
	<label>Confirm Password</label>
	<input type="password" class="form-control" name="confirmation">
	</br>
	<input type="submit" class="btn btn-lg btn-primary btn-block" value="Edit Account"/>
	<input type="hidden" name="_csrf" value="<%= _csrf%>" />
</form>
</div>
</div>