<div class="container" style="padding:5px">
	<div class="jumbotron" >
		<div class="container">
			<div align="left" style="float: left;width: 33%;">
    		    		<img src = "/images/HG.jpg" alt = "Hunger games" width="220px" height="320px"/>
				<h2>Hunger Games: Catching Fire </h2>
			</div>
			<div align="left" style="float: left;width: 33%;padding:10px;">
			 	<p>	
					The film begins as Katniss Everdeen has returned home safe after winning the 74th Annual Hunger Games along with fellow tribute Peeta Mellark. Winning means that 						they must turn around and leave their family and close friends, embarking on a "Victor's Tour" of the districts. Along the way Katniss senses that a rebellion is 						simmering ...
				</p>
				
				<a href="/dynamic/watch" class="btn btn-lg btn-primary">Watch now</a>
				<a href="/dynamic/review" class="btn btn-lg btn-info">Reviews</a>
			</div>
`			<div align="left" style="margin-left:1px;float: left;width: 33%;">
			  <b>Starring:</b> </br>
			      GKatniss Everdeen, Peeta Mellark, Finnick Odair</br>
				 
			<b>Director: </b>
			    Francis Lawrence</br>
			<b>Genre: </b>
			    Action</br>
			<b>Duration:</b>
			   120mins</br>
			<b>Certificate:</b> 12a</br>
			<b>Rating:</b> &#9733&#9733&#9733&#9733</br>
			<b>Shows:</b> 17:00, 19:00, 22:00</br>
			</div>

		</div>
	</div>
</div>


<!--
<div class="container" style="padding:5px">
	<div class="jumbotron" >
		<div class="row">
  			<div class="col-sm-6 col-md-4">
    		    		<img id="myimage"src = "<%=movie.src%>" width="220px" height="320px"/>
				<h2>/<%=movie.name%></h2>
			</div>
  			<div class="col-sm-6 col-md-4">
			 	<p><%= movie.desc%></p>
				
				<a href="/dynamic/watch/<%=movie.id%>" class="btn btn-lg btn-primary">Watch now</a>
				<a href="/dynamic/review/<%=movie.id%>" class="btn btn-lg btn-info">Reviews</a>
			</div>
			<div class="col-sm-6 col-md-4">		
		  	<b>Starring:</b> </br>
			 	     <%=movie.starring%></br>
					 
				<b>Director: </b> 
				    <%= movie.director%></br>
				<b>Genre: </b>
				    <%= movie.genre%></br>
				<b>Duration:</b>
				   <%= movie.duration%></br>
				<b>Certificate:</b> <%= movie.certificate%></br>
				<b>Rating:</b> <%= movie.rating%></br>  <!-- &#9733&#9733&#9733&#9733-->
				<b>Shows:</b> <%= movie.shows%></br>  
			</div>
		</div>
	</div>
</div>
-->
