<div class="container" style="padding:5px">
	<h1></b>Showings</b></h1>
	<img src = "/images/grav_image.jpg" alt = "Gravity" width="100%" height="100%"/>
</div>

<div class="container" style="padding:5px">
	<div class="jumbotron" >
		<div class="row">
  			<div class="col-sm-6 col-md-4">
    		    		<img id="myimage"src = "<%=movie.src%>" width="220px" height="320px"/>
				<h2>/<%=movie.name%></h2>
			</div>
  			<div class="col-sm-6 col-md-4">
			 	<p><%= movie.desc%></p>
				
				<a href="/dynamic/watch/<%=movie.id%>" class="btn btn-lg btn-primary">Watch now</a>
				<a href="/dynamic/review/<%=movie.id%>" class="btn btn-lg btn-info">Reviews</a>
			</div>
			<div class="col-sm-6 col-md-4">		
		  	<b>Starring:</b> </br>
			 	     <%=movie.starring%></br>
					 
				<b>Director: </b> 
				    <%= movie.director%></br>
				<b>Genre: </b>
				    <%= movie.genre%></br>
				<b>Duration:</b>
				   <%= movie.duration%></br>
				<b>Certificate:</b> <%= movie.certificate%></br>
				<b>Rating:</b> <%= movie.rating%></br>  <!-- &#9733&#9733&#9733&#9733-->
				<b>Shows:</b> <%= movie.shows%></br>  
			</div>
		</div>
	</div>
</div>

<script type='text/javascript'>
var imageID=0;
function changeimage(every_seconds){
    //change the image
    if(!imageID){
        document.getElementById("myimage").src="http://www.all-freeware.com/images/full/38943-nice_feathers_free_screensaver_desktop_screen_savers__nature.jpeg";
        imageID++;
    }
    else{if(imageID==1){
        document.getElementById("myimage").src="http://www.hickerphoto.com/data/media/186/flower-bouquet-nice_12128.jpg";
        imageID++;
    }else{if(imageID==2){
        document.getElementById("myimage").src="http://www.photos.a-vsp.com/fotodb/14_green_cones.jpg";
        imageID=0;
    }}}
    //call same function again for x of seconds
    setTimeout("changeimage("+every_seconds+")",((every_seconds)*1000));
}
</script>

